.setting-box {
  display: flex;
  height: 400px;
}

.setting-left-title {
  margin-bottom: 20px;
  font-size: 18px;
}

.setting-right-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.setting-right-item {
  margin-top: 20px;
  .ai {
    width: 600px;
    &-form {
      margin-top: 20px;
    }
  }
}